<header class="topbar">
  <div class="menu">
    <div class="menu-item">
      <a href="{{ site.baseurl }}/">Home</a>
    </div>
    <div class="menu-item">
      <a href="#install">Install</a>
    </div>
    <div class="menu-item">
      <a href="#docs">Docs</a>
    </div>
    <div class="menu-item">
      <a href="#changelog">Changelog</a>
    </div>
    <div class="menu-item">
      <a href="#contributing">Contributing</a>
    </div>
  </div>
  <div class="title">
    {{ site.project.name }}
  </div>
</header>
