<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.project.name }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {% if site.highlightjs %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {% endif %}
</head>
