<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.project.name }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <link href="//fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% if site.highlightjs %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/dracula.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {% endif %}
</head>
