<header class="topbar">
  <div class="menu">
    <div class="menu-item">
      <a href="{{ site.baseurl }}/">Home</a>
    </div>
    <div class="menu-item">
      <a href="{{ site.baseurl }}/docs.html">Docs</a>
    </div>
    <div class="menu-item">
      <a href="{{ site.baseurl }}/changelog.html">Changelog</a>
    </div>
    <div class="menu-item">
      <a href="{{ site.baseurl }}/about.html">About</a>
    </div>
  </div>
  <div class="title">
    <a href="{{ site.baseurl }}/">{{ site.project.name }}</a>
  </div>
</header>
