// scss-lint:disable QualifyingElement
pre,
code {
  font-family: "Source Code Pro", Menlo, Consolas, Courier, monospace;
  hyphens: none;
}

pre.highlight {
  border: 1px solid $grey-9;
  border-radius: 4px;
  font-size: 1rem;
}

code.hljs {
  padding: .4rem;
}

code.highlighter-rouge {
  border: 1px solid $grey-6;
  border-radius: 4px;
  font-weight: bold;
  padding: 2px 4px;
}
