.topbar {
  height: 3rem;
  margin-top: .8rem;
}

.title {
  font-weight: bold;
}

.menu {
  display: flex;
  float: right;
}

.menu-item {
  padding-left: .8rem;
}

@media (max-width: 48rem) {
  .menu-item {
    padding-left: .4rem;
  }
}
